doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="http://localhost:3000/") Main
    a(href="http://localhost:3000/1") Weather
    block content
