body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.wrapper{
  display:flex;
}
.card{
  /* font-size: 1.5em; */
  width: 200px;
  background-color: #00B7FF;
  flex-grow: 0;
  padding: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
